<link rel="stylesheet" href="register.page.scss">
<ion-header>
    <ion-toolbar>
        <!-- hamburger menu -->
        <ion-buttons slot="start">
            <ion-menu-button menu="hamburger-menu"></ion-menu-button>
        </ion-buttons>
        <ion-avatar>
            <img src="./assets/images/repotaApp_logo.png" alt="logo"/>
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="item" align="center">
        <form (submit)="registerWorker(workerForm)" #workerForm="ngForm">
            <mat-error *ngIf="workerForm.invalid">{{getErrorMessage()}}</mat-error>
            <!-- username input -->
            <mat-form-field class="user">
                <input matInput type="text" name="username" ngModel required placeholder="Enter Username"
                       #username="ngModel"/>
                <mat-error *ngIf="username.invalid">Please enter a username.</mat-error>
            </mat-form-field>
            <!-- name input -->
            <mat-form-field class="name">
                <input matInput type="text" name="name" ngModel required placeholder="Enter Full Name"
                       #name="ngModel"/>
                <mat-error *ngIf="username.invalid">Please enter your name.</mat-error>
            </mat-form-field>
            <!-- password input -->
            <mat-form-field class="password">
                <input matInput type="password" name="password" ngModel required placeholder="Enter Password"
                       #password="ngModel"/>
                <mat-error *ngIf="username.invalid">Please enter a password.</mat-error>
            </mat-form-field>
            <!-- register user -->
            <ion-button class="register-btn" size="large" type="submit"
                        [disabled]="!workerForm.form.valid" expand="block" color="NONE">Register
            </ion-button>
        </form>
    </div>
</ion-content>
