<link rel="stylesheet" href="register.page.scss">
<ion-header>
    <ion-toolbar>
        <!-- hamburger menu -->
        <ion-buttons slot="start">
            <ion-menu-button menu="hamburger-menu"></ion-menu-button>
        </ion-buttons>
        <ion-avatar>
            <img src="./assets/icons/favicon.ico" alt="logo"/>
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="registered-message">
        <ion-label [textContent]="registeredMessage"></ion-label>
    </div>
    <!-- Only show Register Form to Users who are not logged in -->
    <div class="item" align="center" *ngIf="!this.authService.loggedIn()">
        <form (submit)="register(workerForm)" #workerForm="ngForm">
            <mat-error class="error-message">{{getErrorMessage()}}</mat-error>
            <!-- username input -->
            <mat-form-field class="user">
                <input matInput type="text" name="username" ngModel required minlength="8"
                       placeholder="Enter Username" #username="ngModel" id="username"/>
                <mat-error *ngIf="username.invalid">Please enter at least 8 characters.</mat-error>
            </mat-form-field>
            <!-- name input -->
            <mat-form-field class="name">
                <input matInput type="text" name="name" ngModel required minlength="5"
                       placeholder="Enter Full Name" #name="ngModel" id="name"/>
                <mat-error *ngIf="name.invalid">Please enter your full name.</mat-error>
            </mat-form-field>
            <!-- password input -->
            <mat-form-field class="password">
                <!--Minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character-->
                <input matInput type="password" name="password"
                       ngModel required
                       pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W_]){1,})(?!.*\s).{8,}$"
                       placeholder="Enter Password" #password="ngModel" id="password"/>
                <mat-error *ngIf="password.errors?.pattern || password.invalid">
                    Enter a <u>STRONG</u> password.
                </mat-error>
            </mat-form-field>
            <!-- register user -->
            <ion-button class="register-btn" size="large" type="submit" id="register-btn"
                        [disabled]="!workerForm.form.valid" expand="block" color="NONE">Register
            </ion-button>
        </form>
    </div>
</ion-content>
