<ion-header>
    <ion-toolbar>
        <ion-title>Repota Create</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="list1">
        <ion-text>Report Number</ion-text>
        <ion-input type="job_report_id" value="1" class="input"></ion-input>
        <br>
        <ion-text>Date</ion-text>
        <ion-input type="date" value="333" class="input"></ion-input>
        <br>
        <ion-text>Customer Name</ion-text>
        <ion-input type="customer_name" value="Humphrey Bogart" class="input"></ion-input>
        <br>
        <ion-text>Vehicle Model</ion-text>
        <ion-input type="vehicle_model" value="Ford Focus" class="input"></ion-input>
        <br>
        <ion-text>Miles on Vehicle</ion-text>
        <ion-input type="miles_on_vehicle" value="508538" class="input"></ion-input>
        <br>
        <ion-text>Warranty</ion-text>
        <ion-input type="warranty" value="Y" class="input"></ion-input>
        <br>
        <ion-text>Breakdown</ion-text><br>
        <ion-input type="breakdown" value="N" class="input"></ion-input>
        <br>
</ion-content>
