.tool-bar-logo {
  width: 75px;
  height: 75px;
  margin-left: 25px;
  display: inline;
}

.page-title {
  display: inline-block;
  text-align: center;
  font-size: xxx-large;
}

ion-content {
  --background: none;
}

.reportCard {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  size: A4;
  color: #0d0d0d;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #22222e;
  border-radius: 5px;
}

.logo {
  width: 75px;
  height: 75px;
}

.title {
  text-align: center;
}

.input {
  font-size: 20px;
  border: 1px solid #22222e;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  padding-left: 15px;
  margin-top: 10px;
}

.large-input {
  font-size: 20px;
  border: 1px solid #22222e;
  border-radius: 5px;
  width: 375px;
  height: 35px;
  padding-left: 15px;
  margin-top: 10px;
}

ion-input {
  background-color: #dedad9;
  margin-left: 20px;
  text-align: center;
}

.headers {
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
  text-decoration: underline;
}

.create-btn {
  background-color: royalblue;
  color: black;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
}

.wrap {
  padding-right: 50px;
  padding-left: 50px;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

ion-checkbox {
  margin-left: 60px;
  width: 30px;
  height: 30px;
}

.warranty-box {
  text-align: center;
  text-decoration: underline;
  border: 1px solid #22222e;
  border-radius: 5px;
  margin: 40px 50px 10px 75px;
  padding-top: 5px;
}

.breakdown-box {
  text-align: center;
  text-decoration: underline;
  border: 1px solid #22222e;
  border-radius: 5px;
  margin-left: 75px;
  margin-right: 50px;
  padding-top: 5px;
}

.job-comp-box {
  text-align: center;
  text-decoration: underline;
  border: 1px solid #22222e;
  border-radius: 5px;
  margin-top: 125px;
  margin-left: 450px;
  margin-right: 75px;
  padding-top: 5px;
}

.check-boxes {
  background-color: white;
}
