<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/tabs/home']" tab="home">
            <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/tabs/login']" tab="account">
            <ion-icon name="person-circle-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/tabs/options']" tab="options">
            <ion-icon name="settings-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
