.logo {
  width: 75px;
  height: 75px;
}

ion-title {
  font-size: medium;
  color: #363636;
  font-weight: bold;
}

.num {
  padding-left: 30%;
}

.date {
  padding-left: 35%;
}

.report-content {
  width: 100mm;
  padding-top: 10px;
  background-color: white;
  color: #0d0d0d;
  padding-left: 20px;
  padding-right: 20px;
}

.headers {
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
  text-decoration: underline;
}

.info {
  width: 225px;
  font-size: medium;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #22222e;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 5px;
}

.desc-name {
  text-decoration: underline;
  font-size: medium;
  margin-top: 10px;
}

.desc-info {
  width: 225px;
  height: 80px;
  font-size: medium;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #22222e;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.warranty-box {
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
  border: 1px solid #22222e;
  border-radius: 5px;
  width: 120px;
}

.breakdown-box {
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
  border: 1px solid #22222e;
  border-radius: 5px;
  width: 120px;
}

.work-hours {
  width: 170px;
  font-size: medium;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #22222e;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 5px;
}

.worker {
  width: 200px;
  font-size: medium;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #22222e;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.job-comp {
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid #22222e;
  border-radius: 5px;
  width: 120px;
}

.pdf {
  border-radius: 5px;
  background-color: #29c467;
  margin-top: 20px;
}

// computer monitors
@media screen and (min-width: 600px) {
  .num {
    padding-left: 37%;
  }

  .date {
    padding-left: 39%;
  }

  .report-content {
    width: 175mm;
    min-height: 235mm;
  }

  .info {
    width: auto;
    min-width: 250px;
  }

  .desc-info {
    width: auto;
    min-width: 300px;
  }

  .worker {
    width: 225px;
  }
}
