<ion-header>
    <ion-toolbar>
        <!-- hamburger menu -->
        <ion-buttons slot="start">
            <ion-menu-button menu="hamburger-menu"></ion-menu-button>
        </ion-buttons>
        <ion-avatar>
            <img class="tool-bar-logo" src="./assets/images/repotaApp_logo.png" alt="logo"/>
        </ion-avatar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div id="job-report">
        <ion-item *ngFor="let report of report">
            <div class="report-content">
                <!-- report -->
                <header>
                    <p align="center">
                        <img class="logo" src="./assets/images/repotaApp_logo.png" alt="logo"/></p>
                    <ion-title class="num">Report Number: {{report["jobReportId"]}}</ion-title>
                    <ion-title class="date">Date: {{report["date"]}}</ion-title>
                </header>
                <hr style="height:2px;border-width:0;color:gray;background-color:black">
                <div>
                    <!-- Report Details -->
                    <ion-row>
                        <ion-col>
                            <ion-label class="headers"> Vehicle Details:</ion-label>
                            <ion-label class="info"> Model: {{report["vehicleModel"]}}</ion-label>
                            <ion-label class="info"> Registration: {{report["vehicleReg"]}}</ion-label>
                            <ion-label class="info"> Location: {{report["vehicleLocation"]}}</ion-label>
                            <ion-label class="info"> Mileage: {{report["milesOnVehicle"]}}</ion-label>
                            <ion-label class="warranty-box"> Warranty
                                <mat-checkbox [(ngModel)]="report.warranty" disabled></mat-checkbox>
                            </ion-label>
                            <ion-label class="breakdown-box"> Breakdown
                                <mat-checkbox [(ngModel)]="report.breakdown" disabled></mat-checkbox>
                            </ion-label>
                        </ion-col>
                        <!-- Customer Details -->
                        <ion-col>
                            <ion-label class="headers"> Customer Details:</ion-label>
                            <ion-label class="info"> Name: {{report["customerName"]}}</ion-label>
                            <ion-label class="desc-name"> Complaint:</ion-label>
                            <p class="desc-info">{{report["complaint"]}}</p>
                        </ion-col>
                        <!-- Work Details -->
                        <ion-col>
                            <ion-label class="headers"> Work Details:</ion-label>
                            <ion-label class="desc-name"> Cause:</ion-label>
                            <p class="desc-info"> {{report["cause"]}}</p>
                            <ion-label class="desc-name"> Correction:</ion-label>
                            <p class="desc-info">{{report["correction"]}}</p>
                            <ion-label class="info"> Parts: {{report["parts"]}}</ion-label>
                            <ion-label class="info"> Work Hours: {{report["workHours"]}}</ion-label>
                            <ion-label class="worker"> Technician: {{report["workerName"]}}</ion-label>
                            <ion-label class="job-comp"> Complete
                                <mat-checkbox [(ngModel)]="report.jobComplete" disabled></mat-checkbox>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </div>
                <hr style="height:2px;border-width:0;color:gray;background-color:black">
            </div>
            <!-- end of report -->
        </ion-item>
    </div>
    <p align="center">
    <ion-button class="pdf" color="NONE" (click)="onExportPDF()">EXPORT PDF</ion-button>
    </p>
</ion-content>
