<ion-header>
    <ion-toolbar>
        <!-- hamburger menu -->
        <ion-buttons slot="start">
            <ion-menu-button menu="hamburger-menu"></ion-menu-button>
        </ion-buttons>
        <ion-avatar>
            <img class="tool-bar-logo" src="./assets/images/repotaApp_logo.png" alt="logo"/>
        </ion-avatar>
    </ion-toolbar>
</ion-header>
<p align="center">
    <ion-button class="refresh-btn" (click)="refreshPage()" color="NONE">Refresh</ion-button>
</p>
<ion-content>
    <ion-card>
        <ion-item *ngFor="let report of reports">
            <ion-card-content>
                <!-- report -->
                <hr style="height:2px;border-width:0;color:gray;background-color:black">
                <div>
                    <!-- Report Details -->
                    <ion-row>
                        <ion-col>
                            <ion-label class="info">Report Number: {{report["jobReportId"]}}</ion-label>
                            <ion-label class="info">Date: {{report["date"]}}</ion-label>
                            <ion-label class="info">{{report["customerName"]}}</ion-label>
                        </ion-col>
                        <!-- Check Box -->
                        <ion-label class="job-comp">Complete
                            <ion-checkbox disabled="true" [(ngModel)]="report.jobComplete"></ion-checkbox>
                        </ion-label>
                    </ion-row>
                </div>
                <hr style="height:2px;border-width:0;color:gray;background-color:black">
                <p align="center">
                    <ion-button class="open-btn" color="NONE" [routerLink]="['/display/' + report.jobReportId]">
                        OPEN
                    </ion-button>
                </p>
            </ion-card-content>
            <!-- end of report -->
        </ion-item>
    </ion-card>
</ion-content>
