# git ignore file for repo

# Repota Dependency directories
/repota/repotaApp/node_modules/
/repota/repotaApp/www/
/repota/repotaApp/platforms/
/repota/repotaApp/plugins/


# Horton Server
/horton/*.exe
/horton/*.exe~
/horton/GIT_REPO_ID

# Elastic Beanstalk Files
/horton/.elasticbeanstalk/*
/horton/!.elasticbeanstalk/*.cfg.yml
/horton/!.elasticbeanstalk/*.global.yml
/horton/.ebignore

# dissertation
/dissertation/dissertation.pdf

# JetBrains IDEs
/repota/repotaApp/.idea
/horton/.idea
/database/.idea
