# Repota project

# JetBrains IDEs
/Repota/repotaApp/.idea
/horton/.idea
/database/.idea

# Repta Dependency directories
/Repota/repotaApp/node_modules/

# Horton Server
# Binaries for programs and plugins
/horton/*.exe
/horton/*.exe~
/horton/*.dll
/horton/*.so
/horton/*.dylib

/horton/GIT_REPO_ID

# dissertation
/dissertation/dissertation.pdf
