.tool-bar-logo {
  width: 75px;
  height: 75px;
  margin-left: 25px;
  display: inline;
}

.page-title {
  display: inline-block;
  text-align: center;
  font-size: xxx-large;
}

ion-content {
  --background: none;
  background-image: url('../../assets/images/app_logo_box.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 750px 750px;
}

.about {
  margin-top: 375px;
  margin-left: 50%;
  margin-right: auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 450px;
  color: #f5f6f9;
  text-align: center;
}

.headers {
  color: #f5f6f9;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

ion-toggle {
  background-color: #2a2a2a;
  margin-left: 20px;
  margin-top: 15px;
  width: 20px;
  height: 15px;
}
