<ion-header>
    <ion-toolbar>
        <!-- hamburger menu -->
        <ion-buttons slot="start">
            <ion-menu-button menu="hamburger-menu"></ion-menu-button>
        </ion-buttons>
        <ion-avatar>
            <img src="./assets/images/repotaApp_logo.png" alt="logo"/>
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="about">
        <ion-title class="headers">About</ion-title>
        <ion-text>Repota is designed for automobile technicians to fill out
            service reports for auto dealerships and rental companies.
        </ion-text>
        <a href="https://github.com/johnshields/Repota-App/wiki" target="_blank" rel="noopener noreferrer">
            <p class="links">View Guide</p>
        </a>
        <a href="https://github.com/johnshields/Repota-App" target="_blank" rel="noopener noreferrer">
            <p class="links">View Repository</p>
        </a>
    </div>
</ion-content>
