<ion-header>
    <ion-toolbar>
        <!-- hamburger menu -->
        <ion-buttons slot="start">
            <ion-menu-button menu="hamburger-menu" id="hamburger-menu"></ion-menu-button>
        </ion-buttons>
        <ion-avatar>
            <img src="./assets/icons/favicon.ico" alt="logo"/>
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card class="about">
        <ion-card-content>
            <ion-label>About</ion-label>
            <br>
            <ion-text>Repota is designed for automobile technicians to fill out
                service reports for auto dealerships and rental companies.
            </ion-text>
            <ion-button href="https://github.com/johnshields/Repota-App/wiki" color="NONE">View Guide</ion-button>
            <ion-button href="https://github.com/johnshields/Repota-App" color="NONE">View Repository</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
