ion-content {
  --background: none;
  background-image: url('../../assets/images/app_logo_box.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px 400px;
}

.about {
  margin-top: 265px;
  margin-left: 50%;
  margin-right: auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 200px;
  color: #f5f6f9;
  text-align: center;
}

.headers {
  color: #f5f6f9;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.links {
  color: #2850d2;
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  ion-content {
    background-size: 750px 750px;
  }

  .about {
    margin-top: 375px;
    width: 350px;
  }

  .links {
    margin-top: 30px;
  }
}
