ion-content {
  --background: none;
  background-image: url('../../assets/images/app_logo_box.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px 400px;
}

ion-button {
  border-radius: 5px;
  width: 200px;
  height: 25px;
  margin-top: 10px;
  background-color: royalblue;
}

ion-card {
  top: 44%;
  left: 48%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 250px;
  color: #f5f6f9;
  text-align: center;
  background: transparent;
}

ion-text {
  width: 200px;
}

ion-label {
  color: #f5f6f9;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.links {
  color: #2850d2;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

// computer monitors
@media screen and (min-width: 1224px) {
  ion-content {
    background-size: 750px 750px;
  }

  ion-card {
    top: 40%;
    left: 49.5%;
  }

  ion-button {
    width: 200px;
    height: 40px;
    margin-top: 15px;
  }
}
