<ion-header>
    <ion-toolbar>
        <a href="http://localhost:4200/tabs/home">
            <img class="tool-bar-logo" src="./assets/images/repotaApp_logo.png" alt="logo"/></a>
        <ion-title class="page-title">Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="page">
    <img class="background-img" src="./assets/images/app_logo_box.png" alt="background"
         style="height:600px;margin-top:100px"/>
    <div>
        <ion-button [routerLink]="['/tabs/create']" class="create" color="NONE">
            <ion-text>
                Create
            </ion-text>
        </ion-button>
        <ion-button [routerLink]="['/tabs/report-history']" class="report" color="NONE">
            <ion-text>
                Reports
            </ion-text>
        </ion-button>
    </div>
</ion-content>
