<ion-header>
    <ion-toolbar>
        <!-- hamburger menu -->
        <ion-buttons slot="start">
            <ion-menu-button menu="hamburger-menu"></ion-menu-button>
        </ion-buttons>
        <img class="tool-bar-logo" src="./assets/images/repotaApp_logo.png" alt="logo"/>
        <ion-title class="page-title">Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="page">
    <div>
        <ion-button [routerLink]="['/create']" class="create" color="NONE">
            <ion-text>
                Create
            </ion-text>
        </ion-button>
        <ion-button [routerLink]="['/history']" class="report" color="NONE">
            <ion-text>
                History
            </ion-text>
        </ion-button>
    </div>
</ion-content>
