<ion-header>
    <ion-toolbar>
        <!-- hamburger menu -->
        <ion-buttons slot="start">
            <ion-menu-button menu="hamburger-menu"></ion-menu-button>
        </ion-buttons>
        <ion-avatar>
            <img class="tool-bar-logo" src="./assets/images/repotaApp_logo.png" alt="logo"/>
        </ion-avatar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <form (submit)="editReport(reportForm)" #reportForm="ngForm">
            <ion-item *ngFor="let report of report">
                <ion-card-content>
                    <!-- report -->
                    <ion-card-header>
                        <p align="center">
                            <img class="logo" src="./assets/images/repotaApp_logo.png" alt="logo"/>
                            <ion-label class="title">Edit Report</ion-label>
                        </p>
                    </ion-card-header>
                    <hr style="height:2px;border-width:0;color:gray;background-color:black">
                    <p align="center">
                        <ion-label class="headers">Date of Job</ion-label>
                        <ion-input name="date" ngModel required="true" #date="ngModel"
                                   type="date" class="input"></ion-input>
                    </p>
                    <div>
                        <!-- Report Details -->
                        <ion-row>
                            <ion-col>
                                <ion-label class="headers"> Vehicle Details:</ion-label>
                                <ion-input name="vehicleModel" ngModel required="true" #vehicleModel="ngModel"
                                           type="text" placeholder='{{report["vehicleModel"]}}'
                                           class="input"></ion-input>
                                <ion-input name="vehicleReg" ngModel required="true" #vehicleReg="ngModel"
                                           type="text" placeholder='{{report["vehicleReg"]}}' class="input"></ion-input>
                                <ion-input name="milesOnVehicle" ngModel required="true" #milesOnVehicle="ngModel"
                                           type="number" placeholder='{{report["milesOnVehicle"]}}' class="input"
                                           min="0">
                                </ion-input>
                                <ion-input name="vehicleLocation" ngModel required="true" #vehicleLocation="ngModel"
                                           type="text" placeholder='{{report["vehicleLocation"]}}' class="input">
                                </ion-input>
                                <ion-list *ngFor="let i of list1">
                                    <mat-checkbox [(ngModel)]="i.checked"
                                                  ngModel="warranty" name="warranty">{{i.title}}
                                    </mat-checkbox>
                                </ion-list>
                                <ion-list *ngFor="let i of list2">
                                    <mat-checkbox [(ngModel)]="i.checked" ngModel="breakdown"
                                                  name="breakdown">{{i.title}}
                                    </mat-checkbox>
                                </ion-list>
                            </ion-col>
                            <!-- Work Details -->
                            <ion-col>
                                <ion-label class="headers"> Work Details:</ion-label>
                                <ion-textarea name="cause" ngModel required="true" #cause="ngModel"
                                              type="text" placeholder='{{report["cause"]}}' class="large-input">
                                </ion-textarea>
                                <ion-textarea name="correction" ngModel required="true" #correction="ngModel"
                                              type="text" placeholder='{{report["correction"]}}' class="large-input">
                                </ion-textarea>
                                <ion-textarea name="parts" ngModel required="true" #parts="ngModel"
                                              type="text" placeholder='{{report["parts"]}}' class="large-input">
                                </ion-textarea>
                                <ion-input name="workHours" ngModel required="true" #workHours="ngModel"
                                           type="number" placeholder="Work Hours" class="input" min="0">
                                </ion-input>
                                <ion-list *ngFor="let i of list3">
                                    <mat-checkbox [(ngModel)]="i.checked" ngModel="jobComplete"
                                                  name="jobComplete">{{i.title}}
                                    </mat-checkbox>
                                </ion-list>
                            </ion-col>
                        </ion-row>
                    </div>
                    <hr style="height:2px;border-width:0;color:gray;background-color:black">
                    <p align="center">
                        <ion-button class="edit-btn" size="large" type="submit"
                                    [disabled]="!reportForm.form.valid" expand="block" color="NONE">EDIT
                        </ion-button>
                    </p>
                </ion-card-content>
                <!-- end of report -->
            </ion-item>
        </form>
    </ion-card>
</ion-content>
