<ion-header>
    <ion-toolbar>
        <!-- hamburger menu -->
        <ion-buttons slot="start">
            <ion-menu-button menu="hamburger-menu"></ion-menu-button>
        </ion-buttons>
        <ion-avatar>
            <img src="./assets/icons/favicon.ico" alt="logo"/>
        </ion-avatar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <form (submit)="editReport(reportForm)" #reportForm="ngForm">
            <!-- error message -->
            <mat-error class="error-message">{{getErrorMessage()}}</mat-error>
            <ion-item *ngFor="let report of report">
                <ion-card-content>
                    <!-- report -->
                    <ion-card-header>
                        <p align="center">
                            <img class="logo" src="./assets/images/repotaApp_logo.png" alt="logo"/>
                            <ion-label class="title">Edit Report</ion-label>
                        </p>
                    </ion-card-header>
                    <hr style="height:2px;border-width:0;color:gray;background-color:black">
                    <p align="center">
                        <ion-label class="headers">Date of Job</ion-label>
                        <input name="date" ngModel required #date="ngModel" type="date" class="input" id="date">
                    </p>
                    <div>
                        <!-- Report Details -->
                        <ion-row>
                            <ion-col class="col">
                                <ion-label class="headers"> Vehicle Details:</ion-label>
                                <input list="cars" name="vehicleModel" ngModel required #vehicleModel="ngModel"
                                       type="text" placeholder='{{report["vehicleModel"]}}' class="input" id="model">
                                <datalist id="cars">
                                    <option *ngFor="let cars of vehicles"
                                            [value]="cars.Make + space + cars.Model"></option>
                                </datalist>
                                <input name="vehicleReg" ngModel required #vehicleReg="ngModel"
                                           type="text" placeholder='{{report["vehicleReg"]}}' class="input" id="reg">
                                <input name="milesOnVehicle" ngModel required #milesOnVehicle="ngModel"
                                           type="number" placeholder='{{report["milesOnVehicle"]}}' class="input"
                                           min="0" id="miles">
                                <input name="vehicleLocation" ngModel required #vehicleLocation="ngModel" id="location"
                                           type="text" placeholder='{{report["vehicleLocation"]}}' class="input">
                                <mat-option *ngFor="let i of list1">
                                    <mat-checkbox [(ngModel)]="i.checked" id="warranty"
                                                  ngModel="warranty" name="warranty">{{i.title}}
                                    </mat-checkbox>
                                </mat-option>
                                <mat-option *ngFor="let i of list2">
                                    <mat-checkbox [(ngModel)]="i.checked" id="breakdown"
                                                  ngModel="breakdown" name="breakdown">{{i.title}}
                                    </mat-checkbox>
                                </mat-option>
                            </ion-col>
                            <!-- Work Details -->
                            <ion-col>
                                <ion-label class="headers"> Work Details:</ion-label>
                                <textarea name="cause" ngModel required #cause="ngModel" id="cause"
                                              type="text" placeholder='{{report["cause"]}}' class="large-input">
                                </textarea>
                                <textarea name="correction" ngModel required #correction="ngModel" id="correction"
                                              type="text" placeholder='{{report["correction"]}}' class="large-input">
                                </textarea>
                                <textarea name="parts" ngModel required #parts="ngModel" id="parts"
                                              type="text" placeholder='{{report["parts"]}}' class="large-input">
                                </textarea><br>
                                <input name="workHours" ngModel required #workHours="ngModel" id="hours" type="number"
                                           placeholder="Work Hours" class="input" min="0" value="0"
                                           oninput="this.value=(parseInt(this.value)||0)">
                                <mat-option *ngFor="let i of list3">
                                    <mat-checkbox [(ngModel)]="i.checked" id="complete"
                                                  ngModel="jobComplete" name="jobComplete">{{i.title}}
                                    </mat-checkbox>
                                </mat-option>
                            </ion-col>
                        </ion-row>
                    </div>
                    <hr style="height:2px;border-width:0;color:gray;background-color:black">
                    <p align="center">
                        <ion-button class="edit-btn" size="large" type="submit" [routerLink]="['/history']"
                                    [disabled]="!reportForm.form.valid" expand="block" color="NONE" id="edit-btn">EDIT
                        </ion-button>
                    </p>
                </ion-card-content>
                <!-- end of report -->
            </ion-item>
        </form>
    </ion-card>
</ion-content>
