// Service Report Card
.reportCard {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: whitesmoke;
  size: A4;
  color: #0d0d0d;
}

.report-details {
  color: #0d0d0d;
  font-weight: 500;
  text-indent: 20px;
  white-space: pre-line;
  content: ".";
  padding-top: 20px;
  padding-bottom: 30px;
}

.num {
  font-size: large;
  color: #0d0d0d;
}

.date {
  font-size: small;
  color: #0d0d0d;
  text-align: right;
}

.headers {
  margin-top: 100px;
  color: #0d0d0d;
  margin-left: 80px;
}

.vehicle-details {
  color: #0d0d0d;
  font-weight: 500;
  text-indent: 20px;
  white-space: pre-line;
  content: ".";
  padding-top: 80px;
  padding-bottom: 50px;
  height: 30px;
  width: 650px;
  margin-left: 100px;
}

.coverage {
  list-style: none;
  color: #0d0d0d;
  font-size: 20px;
  text-indent: 20px;
  padding-left: 500px;
  display: inline;
}

.coverage-boxes {
  display: inline-block;
  margin-right: 3px;
}

.customer-details {
  list-style: none;
  color: #0d0d0d;
  font-weight: 500;
  text-indent: 20px;
  white-space: pre-line;
  content: ".";
  padding-top: 20px;
  padding-bottom: 50px;
  height: 80px;
  width: 650px;
  margin-left: 100px;
}

.work-details {
  color: #0d0d0d;
  font-weight: 500;
  text-indent: 20px;
  white-space: pre-line;
  content: ".";
  padding-top: 30px;
  padding-bottom: 30px;
  height: 110px;
  width: 650px;
  margin-left: 100px;
}

.worker {
  color: #0d0d0d;
  font-weight: 500;
  text-indent: 20px;
  white-space: pre-line;
  content: ".";
  padding-top: 30px;
  padding-bottom: 30px;
  height: 50px;
  width: 650px;
  margin-left: 100px;
}

.job-comp {
  color: #0d0d0d;
  font-weight: 500;
  text-indent: 20px;
  padding-left: 500px;
  font-size: 20px;
  display: inline;
}

.comp-boxes {
  display: inline-block;
}
