<ion-header>
    <ion-toolbar>
        <ion-title>Repota History</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="selectReport"><br>
        <ion-card>
            <ion-item *ngFor="let report of reports">
                <div class="reportCard">
                    <!-- report details -->
                    <ion-title style="text-align: center">Repota Reports</ion-title>
                    <div class="wrap" style="width: 98%">
                        <!-- start of report -->
                        <div class="left">
                            <ion-title class="report-details">
                                <ion-label class="date"> Date: {{report["date"]}}&nbsp;</ion-label>
                                <ion-label class="num"> Report Number: {{report["jobReportId"]}}&nbsp;
                                </ion-label>
                            </ion-title>
                            <!-- vehicle details -->
                            <ion-text class="headers"> Vehicle Details:</ion-text>
                            <ion-title class="vehicle-details">
                                <ion-label class="model"> Vehicle Model: {{report["vehicleModel"]}}&nbsp;</ion-label>
                                <ion-label class="reg"> Vehicle Registration: {{report["vehicleReg"]}}&nbsp;</ion-label>
                                <ion-label class="location"> Vehicle Location: {{report["vehicleLocation"]}}&nbsp;
                                </ion-label>
                                <ion-label class="miles"> Vehicle Mileage: {{report["milesOnVehicle"]}}&nbsp;
                                </ion-label>
                            </ion-title>
                            <ion-label class="coverage"> Warranty &nbsp;</ion-label>
                            <ion-title class="coverage-boxes">
                                <ion-checkbox disabled="true" [(ngModel)]="report.warranty"></ion-checkbox>
                            </ion-title>
                            <ion-label class="coverage"> Breakdown &nbsp;</ion-label>
                            <ion-title class="coverage-boxes">
                                <ion-checkbox disabled="true" [(ngModel)]="report.breakdown"></ion-checkbox>
                            </ion-title>
                        </div>
                        <!-- customer details -->
                        <div class="right"></div>
                        <ion-text class="headers"> Customer Details: &nbsp;</ion-text>
                        <ion-title class="customer-details">
                            <ion-label class="customer"> Customer: {{report["customerName"]}}&nbsp;</ion-label>
                            <ion-label class="complaint"> Complaint: {{report["complaint"]}}&nbsp;</ion-label>
                        </ion-title>
                        <ion-text class="headers"> Work Details:</ion-text>
                        <!-- work details -->
                        <ion-title class="work-details">
                            <ion-label class="cause"> Cause: {{report["cause"]}}&nbsp;</ion-label>
                            <ion-label class="correction"> Correction: {{report["correction"]}}&nbsp;</ion-label>
                            <ion-label class="parts"> Parts Used: {{report["parts"]}}&nbsp;</ion-label>
                            <ion-label class="work-hours"> Work Hours: {{report["workHours"]}}&nbsp;</ion-label>
                        </ion-title>
                        <!-- worker details -->
                        <ion-title class="worker">
                            <ion-label class="worker-name"> Technician: {{report["workerName"]}}&nbsp;</ion-label>
                        </ion-title>
                        <ion-label class="job-comp"> Job Complete</ion-label>
                        <ion-title class="comp-boxes">
                            <ion-checkbox disabled="true" [(ngModel)]="report.jobComplete">&nbsp;</ion-checkbox>
                        </ion-title>
                    </div>
                </div>
            </ion-item>
        </ion-card>
    </div>
</ion-content>
