<ion-header>
    <ion-toolbar>
        <ion-title>Repota History</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar showCancelButton="always" placeholder="Report Number, Date, Customer Name"></ion-searchbar>
    <div class="selectReport"><br>
        <ion-button [routerLink]="['/tabs/display-report']" color="light">
            <ion-text>
                Report 121, 03/04/2020, Freddie Quell
            </ion-text>
        </ion-button><br>
        <ion-button [routerLink]="['/tabs/display-report']" color="light">
            <ion-text>
                Report 251, 06/04/2020, Peggy Dod
            </ion-text>
        </ion-button><br>
        <ion-button [routerLink]="['/tabs/display-report']" color="light">
            <ion-text>
                Report 456, 08/04/2020, Humphrey Bogart
            </ion-text>
        </ion-button><br>
        <ion-button [routerLink]="['/tabs/display-report']" color="light">
            <ion-text>
                Report 543, 12/04/2020, Daniel Plainview
            </ion-text>
        </ion-button><br>
        <ion-button [routerLink]="['/tabs/display-report']" color="light">
            <ion-text>
                Report 651, 14/04/2020, Mark Hill
            </ion-text>
        </ion-button>
    </div>
</ion-content>
