<ion-header>
    <ion-toolbar>
        <ion-title class="toolbar">Report History</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
        <ion-list>
            <ion-item class="selectReport">
                <ion-label>Select a Report</ion-label>
                <ion-select okText="Okay" cancelText="Cancel">
                    <ion-select-option value="report1">Report 1</ion-select-option>
                    <ion-select-option value="report2">Report 2</ion-select-option>
                    <ion-select-option value="report3">Report 3</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
</ion-content>
