<ion-header>
    <ion-toolbar>
        <img class="tool-bar-logo" src="./assets/images/repotaApp_logo.png" alt="logo"/>
        <ion-title class="page-title">Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="item" align="center">
        <img class="background-img" src="./assets/images/app_logo_box.png" alt="background"
             style="height:600px;margin-top:100px"/>
        <form (submit)="loginWorker(workerForm)" #workerForm="ngForm">
            <ion-input class="user" type="text" name="username" ngModel required="true"
                       placeholder="Enter Username" #username="ngModel">
            </ion-input>
            <ion-input class="password" type="password" name="password" ngModel required="true"
                       placeholder="Enter Password" #password="ngModel">
            </ion-input>
            <ion-button class="login-btn" size="large" type="submit"
                        [disabled]="!workerForm.form.valid" expand="block" color="NONE">Login
            </ion-button>
        </form>
    </div>
</ion-content>

