ion-content {
  --background: none;
  background-image: url('../../assets/images/app_logo_box.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px 400px;
}

.user {
  background-color: #2a2a2a;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 45px;
}

.password {
  background-color: #2a2a2a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 45px;
}

.login-btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0021;
  color: black;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
}

@media screen and (min-width: 800px) {
  ion-content {
    background-size: 750px 750px;
  }

  .user {
    top: 35%;
  }

  .password {
    top: 45%;
  }

  .login-btn {
    top: 55%;
  }
}
