<ion-header>
    <ion-toolbar>
        <!-- hamburger menu -->
        <ion-buttons slot="start">
            <ion-menu-button menu="hamburger-menu"></ion-menu-button>
        </ion-buttons>
        <ion-avatar>
            <img src="./assets/images/repotaApp_logo.png" alt="logo"/>
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="item" align="center">
        <form (submit)="login(workerForm)" #workerForm="ngForm">
            <!-- error message -->
            <mat-error class="error-message">{{getErrorMessage()}}</mat-error>
            <!-- username input -->
            <mat-form-field class="user">
                <input matInput type="text" name="username" ngModel required placeholder="Enter Username"
                       #username="ngModel"/>
                <mat-error *ngIf="username.invalid">Please enter your username.</mat-error>
            </mat-form-field>
            <!-- password input -->
            <mat-form-field class="password">
                <input matInput type="password" name="password" ngModel required placeholder="Enter Password"
                       #password="ngModel"/>
                <mat-error *ngIf="username.invalid">Please enter your password.</mat-error>
            </mat-form-field>
            <!-- login user -->
            <ion-button class="login-btn" size="large" type="submit"
                        [disabled]="!workerForm.form.valid" expand="block" color="NONE">Login
            </ion-button>
        </form>
    </div>
</ion-content>

