<ion-header>
    <ion-toolbar>
        <!-- hamburger menu -->
        <ion-buttons slot="start">
            <ion-menu-button menu="hamburger-menu"></ion-menu-button>
        </ion-buttons>
        <ion-avatar>
            <img src="./assets/images/repotaApp_logo.png" alt="logo"/>
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div align="center">
        <!-- buttons to navigate to the pages login and register -->
        <ion-button [routerLink]="['/login']" class="login" color="NONE">Login</ion-button>
        <ion-button [routerLink]="['/register']" class="register" color="NONE">Register</ion-button>
    </div>
</ion-content>
