<ion-header>
    <ion-toolbar>
        <img class="tool-bar-logo" src="./assets/images/repotaApp_logo.png" alt="logo"/>
        <ion-title class="page-title">Welcome</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div align="center">
        <ion-button [routerLink]="['/tabs/login']" class="login" color="NONE">Login</ion-button>
        <ion-button class="register" color="NONE">Logout</ion-button>
        <ion-button [routerLink]="['/tabs/register']" class="register" color="NONE">Register</ion-button>
    </div>
</ion-content>
