<ion-header>
    <ion-toolbar>
        <!-- hamburger menu -->
        <ion-buttons slot="start">
            <ion-menu-button menu="hamburger-menu"></ion-menu-button>
        </ion-buttons>
        <ion-avatar>
            <img src="./assets/icons/favicon.ico" alt="logo"/>
        </ion-avatar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-item *ngFor="let report of report">
            <!-- error message -->
            <mat-error class="error-message">{{getErrorMessage()}}</mat-error>
            <ion-card-content>
                <!-- report -->
                <ion-card-header>
                    <p align="center">
                        <img class="logo" src="./assets/images/repotaApp_logo.png" alt="logo"/></p>
                    <ion-card-title>Report Number: {{report["jobReportId"]}}</ion-card-title>
                    <ion-card-title>Date: {{report["date"]}}</ion-card-title>
                </ion-card-header>
                <hr style="height:2px;border-width:0;color:gray;background-color:black">
                <div>
                    <!-- Report Details -->
                    <ion-row>
                        <ion-col>
                            <ion-label class="headers"> Vehicle Details:</ion-label>
                            <ion-label class="info"> Model: {{report["vehicleModel"]}}</ion-label>
                            <ion-label class="info"> Reg: {{report["vehicleReg"]}}</ion-label>
                            <ion-label class="info"> Location: {{report["vehicleLocation"]}}</ion-label>
                            <ion-label class="info"> Mileage: {{report["milesOnVehicle"]}}</ion-label>
                            <ion-label class="warranty-box"> Warranty
                                <mat-checkbox disabled="true" [(ngModel)]="report.warranty"></mat-checkbox>
                            </ion-label>
                            <ion-label class="breakdown-box"> Breakdown
                                <mat-checkbox disabled="true" [(ngModel)]="report.breakdown"></mat-checkbox>
                            </ion-label>
                        </ion-col>
                        <!-- Customer Details -->
                        <ion-col>
                            <ion-label class="headers"> Customer Details:</ion-label>
                            <ion-label class="info"> Name: {{report["customerName"]}}</ion-label>
                            <ion-label class="desc-name"> Complaint:</ion-label>
                            <p class="desc-info">{{report["complaint"]}}</p>
                        </ion-col>
                        <!-- Work Details -->
                        <ion-col>
                            <ion-label class="headers"> Work Details:</ion-label>
                            <ion-label class="desc-name"> Cause:</ion-label>
                            <p class="desc-info"> {{report["cause"]}}</p>
                            <ion-label class="desc-name"> Correction:</ion-label>
                            <p class="desc-info">{{report["correction"]}}</p>
                            <ion-label class="info"> Parts: {{report["parts"]}}</ion-label>
                            <ion-label class="info"> Work Hours: {{report["workHours"]}}</ion-label>
                            <ion-label class="worker"> Technician: {{report["workerName"]}}</ion-label>
                            <ion-label class="job-comp"> Complete
                                <mat-checkbox disabled="true" [(ngModel)]="report.jobComplete"></mat-checkbox>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </div>
                <hr style="height:2px;border-width:0;color:gray;background-color:black">
                <ion-button class="edit" color="NONE" [routerLink]="['/edit/' + report.jobReportId]">EDIT
                </ion-button>
                <ion-button class="pdf" color="NONE" [routerLink]="['/export/' +  report.jobReportId]">PDF
                </ion-button>
                <ion-button class="delete" color="NONE" (click)="deleteReport(report.jobReportId)">DELETE</ion-button>
            </ion-card-content>
            <!-- end of report -->
        </ion-item>
    </ion-card>
</ion-content>
